<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beanbrew app</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script src="index.js"></script>
    <div id="nav">
        <p>imagine the navbar is here</p>
    </div>
    <div id="profile">
        <p>Imagine this is a fully working website. we've done.</p>
        <img src="SVG assets/bean-and-brew-logo.svg" width="300">
    </div>
</body>